doctype html
html(lang='en')
	head
		title App with Google Authorization
	style
		include ../css/style.css
	body
		#container.col
			h1 App with Google Authorization
			h2 You have successfully logged in!
